/* PC */
@media (min-width: 64em) {
    .menu-btn {
        display: none;
    }
}
/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .places-buy-btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    #footer .social-list {
        font-size: 48px;
    }
    #footer .social-list a {
        margin: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

 /* TABLET */
@media(min-width: 46.25em) and (max-width: 63.9375em) {
    .menu-btn {
        display: none;
    }
    .contact-info {
        line-height: 2;
    }
}

/* Mobile */
@media(max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #content .member-img {
        width: 60%;
    }
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .contact-form {
        margin-top: 16px ;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
}